{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des tâches{% endblock %}

{% block body %}
}
{% for typeDeMessageFlash, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ typeDeMessageFlash }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<h2>Liste des tâches</h2>

<ul class="list-group">

    {% for key, todo in todos %}

    <li class="list-group-item">

        <form action="{{ path('todo_delete', {id: key}) }}" method="post" class="delete">
            <button class="btn btn-xs btn-link" type="submit" name="delete"><span class="glyphicon glyphicon-remove"></span></button>
        </form>

        <span>
            {% if todo.status == 'done' %}
            <!-- tâche effectuée -->
            <form action="{{ path('todo_set_status', { 'id' : key, 'status' : 'undone' } ) }}" method="post" class="status">
                <button class="btn btn-xs btn-link" type="submit"><span class="glyphicon glyphicon-check"></span></button>
            </form>
            {% else %}
            <!-- tâche non effectuée -->
            <form action="{{ path('todo_set_status', { 'id' : key, 'status' : 'done' } ) }}" method="post" class="status">
                <button class="btn btn-xs btn-link" type="submit"><span class="glyphicon glyphicon-unchecked"></span></button>
            </form>
            {% endif %}

            <a href="{{ path('todo_show', { 'id' : key }) }}">
                {% if todo.status == 'done' %}
                <s>{{ todo.task }}</s>
                {% else %}
                {{ todo.task }}
                {% endif %}
            </a>
        </span>
    </li>
    {% endfor %}
</ul>

{% include 'todo/_form_add.html.twig' %}

<hr>

{% if app.environment == 'dev' %}
    <a href="{{ path('todo_reset') }}" class="text-danger">Réinitialiser la liste des tâches (dev)</a>
{% endif %}

{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}