{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ todo.task }}{% endblock %}

{% block body %}

	<h2>Détail tâche</h2>
	<div><label>Intitulé :</label> {{ todo.task }}</div>
	<div><label>Statut :</label> <i>{{ todo.status }}</i></div>
    <div><label>Créée le :</label> <i>{{ todo.created_at|date("m/d/Y", "Europe/Paris") }}</i></div>

	<p><a href="{{ path("todo_list") }}">Retour liste</a></p>

{% endblock %}
